<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newton Interpolante</title>
</head>
<body>
    <h1>Hola desde Newton Interpolante</h1>

    <form action="#" method="post">
        {% csrf_token %}
        <label for="x">Valores de x:</label>
        <input type="text" id="x" name="x" required><br><br>

        <label for="y">Valores de y:</label>
        <input type="text" id="y" name="y" required><br><br>

        <input type="submit" value="Calcular"><br><br>
    </form>

    <a href="{% url 'saludo' %}"><button>Volver al Home</button></a>
</body>
</html>