<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jacobi</title>
</head>
<body>

    <h1>Hola desde Jacobi y Gauss Seidel</h1>

    <form action="#" method="post">
        {% csrf_token %}
        <label for="x0">Valor inicial (x0):</label>
        <input type="text" id="x0" name="x0" required><br><br>

        <label for="a">Valor a:</label>
        <input type="text" id="a" name="a" required><br><br>

        <label for="b">Valor b:</label>
        <input type="text" id="b" name="b" required><br><br>

        <label for="metodo">Metodo a escoger:</label>
        <select id="metodo" name="metodo" required>
            <option value="opcion0">JACOBI</option>
            <option value="opcion1">GAUSS SEIDEL</option>
        </select><br><br>

        <input type="submit" value="Calcular"><br><br>
    </form>

    <a href="{% url 'saludo' %}"><button>Volver al Home</button></a>

</body>
</html>