<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOR</title>
</head>
<body>

    <h1>Hola desde SOR</h1>

    <form method="post" action="{% url 'SOR' %}">
        {% csrf_token %}
        <label for="x0">Valor inicial (x0):</label>
        <input type="text" id="x0" name="x0" required><br><br>

        <label for="A">Valor a:</label>
        <input type="text" id="A" name="A" required><br><br>

        <label for="b">Valor b:</label>
        <input type="text" id="b" name="b" required><br><br>

        <label for="tolerancia">Tolerancia:</label>
        <input type="text" id="tolerancia" name="tolerancia" required><br><br>

        <label for="num_iteraciones">Numero de iteraciones:</label>
        <input type="text" id="num_iteraciones" name="num_iteraciones" required><br><br>

        <label for="w">Valor de w (entre 0 y 2):</label>
        <input type="text" id="w" name="w" required><br><br>

        <button type="submit">Calcular</button><br><br>
    </form>

    <a href="{% url 'saludo' %}"><button>Volver al Home</button></a>

    {% if resultado %}
        <p>Resultado: {{ resultado }}</p>
        <p>Iteraciones: {{ iteraciones }}</p>
    {% endif %}

</body>
</html>