<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newton</title>
</head>
<body>

    <h1>Hola desde Newton</h1>

    <form method="post" action="#">
        {% csrf_token %}

        <label for="funcion">Funcion:</label>
        <input type="text" id="funcion" name="funcion" required><br><br>

        <label for="derivada">Derivada:</label>
        <input type="text" id="derivada" name="derivada" required><br><br>

        <label for="x0">Valor inicial (x0):</label>
        <input type="text" id="x0" name="x0" required><br><br>

        <label for="tolerancia">Tolerancia:</label>
        <input type="text" id="tolerancia" name="tolerancia" required><br><br>

        <label for="num_iteraciones">Numero maximo de iteraciones:</label>
        <input type="number" id="num_iteraciones" name="num_iteraciones" required><br><br>

        <button type="submit">Calcular</button><br><br>
    </form>

    <a href="{% url 'saludo' %}"><button>Volver al Home</button></a>

</body>
</html>
